name: Deploy Vercel

on:
  push:
    branches: [master]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Stage
        uses: fjogeleit/http-request-action@v1
        with:
          url: "https://api.vercel.com/v1/integrations/deploy/prj_1Vs7f9U4pTc22N5rLDLZHmhgeHeI/dDJuFP6uox"
          method: "POST"
